In [1]:
import pandas as pd
df = pd.read_csv('NASA_data_MED.csv', sep=',')
#Filtros a dataframes
filtered_df = df.query('PRECTOTCORR > 0.5')
newdf = df[(df["YEAR"] == 2016) & (df["WS10M"] >= 1)]
newdf.head()
#Otro método es con df.loc
otherdf = df.loc[(df["YEAR"] == 2019) & (df["WS10M"] >= 1)]
print(len(df))
df

3227

,YEAR,DOY,ALLSKY_SFC_UVA,ALLSKY_SFC_UV_INDEX,PRECTOTCORR,WS10M_MAX,WS10M_MIN,GWETTOP,GWETROOT,GWETPROF,PS,WS10M,ALLSKY_SFC_PAR_TOT,CLRSKY_SFC_PAR_TOT
0,2015,1,15.95,2.59,0.22,2.05,0.95,0.90,0.94,0.90,79.42,1.61,112.84,127.79
1,2015,2,16.80,2.71,0.04,2.74,1.11,0.89,0.93,0.90,79.46,1.98,120.88,127.05
2,2015,3,17.73,2.82,0.51,2.59,1.14,0.88,0.92,0.88,79.48,1.97,127.29,128.41
3,2015,4,16.84,2.67,1.28,2.71,0.95,0.88,0.91,0.88,79.53,1.87,121.57,126.91
4,2015,5,16.47,2.62,2.71,2.54,1.04,0.88,0.91,0.88,79.55,1.82,117.86,127.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3222,2023,301,13.31,2.85,0.14,2.41,1.00,0.83,0.82,0.80,79.50,1.55,83.16,139.33
3223,2023,302,15.20,3.25,7.32,1.12,0.08,0.84,0.82,0.79,79.45,0.66,102.06,137.50
3224,2023,303,14.05,2.94,14.15,0.86,0.12,0.85,0.84,0.80,79.46,0.61,92.16,136.59
3225,2023,304,14.57,3.05,15.17,1.31,0.45,0.86,0.84,0.81,79.45,0.84,95.44,135.72
3226,2023,305,10.76,2.17,13.77,1.75,0.67,0.87,0.86,0.83,79.47,1.19,69.09,131.51