### TAREA 2 - Limpieza y alistamiento de datos

In [8]:
import pandas as pd
dataFrame = pd.read_csv('data.txt')
dataFrame

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,3/11/2015,Quarter2,finishing,Wednesday,10,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.628333
1193,3/11/2015,Quarter2,finishing,Wednesday,8,0.70,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1194,3/11/2015,Quarter2,finishing,Wednesday,7,0.65,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1195,3/11/2015,Quarter2,finishing,Wednesday,9,0.75,2.90,NaN,1800,0,0.0,0,0,15.0,0.505889
1196,3/11/2015,Quarter2,finishing,Wednesday,6,0.70,2.90,NaN,720,0,0.0,0,0,6.0,0.394722

In [32]:
# Buscar duplicados
dataFrame.duplicated().sum() #Respuesta: 0

#Identificar errores estructurales
dataFrame.isnull().values.any()     #Anwser: True --> Â¿DÃ³nde estÃ¡n los datos nulos?
dataFrame.isnull().sum()   # 506 NaNs en la columna wip
DataFrame = dataFrame.dropna(inplace=False)
DataFrame.isnull().sum()   # 0 NaNs en la columna wip

date                     0
quarter                  0
department               0
day                      0
team                     0
targeted_productivity    0
smv                      0
wip                      0
over_time                0
incentive                0
idle_time                0
idle_men                 0
no_of_style_change       0
no_of_workers            0
actual_productivity      0
dtype: int64

In [34]:
#Filter unwanted outliers 
DataFrame.boxplot()
numeric_cols = DataFrame.select_dtypes(include=[np.number])
#A z-score tells you where the score lies on a normal distribution curve. 
#A z-score of zero tells you the values is exactly average 
#while a score of +3 tells you that the value is much higher than average
import numpy as np
from scipy import stats
arr = numeric_cols.to_numpy()
z = np.abs(stats.zscore(arr))
outliers = DataFrame[z > 3]
outliers.describe() #97 outliers identificados

## PREGUNTAR: Â¿SACAR LOS OUTLIERS O DEJARLOS?

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
count,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000
mean,7.010309,0.630103,26.061856,2130.567010,6114.742268,28.134021,18.170103,6.845361,0.896907,55.577320,0.564028
std,3.330712,0.181731,11.088343,4732.607766,4033.682430,27.046884,62.066534,12.805712,0.929656,6.659243,0.205770
min,1.000000,0.070000,11.410000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,31.500000,0.233705
25%,4.000000,0.500000,18.220000,562.000000,4140.000000,0.000000,0.000000,0.000000,0.000000,55.000000,0.350706
50%,7.000000,0.700000,26.660000,834.000000,6480.000000,23.000000,0.000000,0.000000,1.000000,57.000000,0.600448
75%,10.000000,0.800000,30.100000,1146.000000,6960.000000,45.000000,2.000000,10.000000,2.000000,58.000000,0.750177
max,12.000000,0.800000,54.560000,23122.000000,25920.000000,138.000000,300.000000,45.000000,2.000000,89.000000,1.100484